{% extends "NavBar.html" %}
{% block content %}

<header class="header">
    <div class="container">
        <h1>Keychain Plus</h1>
        <p>Your one-stop shop for key ring charms and accessories!</p>
    </div>
</header>

<section class="hello">
    <div class="hello-container">
        <h2>Discover Unique Charms</h2>
        <p>Add personality to your keys with our wide range of keychain charms and accessories!</p>
        <a href="/all-items" class="btn">Shop Now</a>
    </div>
</section>

{% endblock%}
