{% extends "NavBar.html" %}
{% block content %}
<div class="card-display">
    <div class="card-header bg-dark text-light">

    <h1>{{title}}</h1>
    </div>
    <div class="card-container">
        {% if items %}
            {% for item in items %}
                <a href="/item/{{item.id}}">
                    <div class="info-card">
                        <img src="{{ url_for('static', filename='photos/' ~ item.imageFile ~ '/' ~ images[item.id]) }}"></image>
                        <div class="card-text">
                            <p>{{item.name}}</p>
                            <div id="star-rating{{item.id}}" class="star-container">
                                <!-- Stars shown here -->
                                <div class="rating-tool"></div>
                            </div>
                            {% if item.onSale %}
                                <p>Was £{{ "%.2f" | format(item.price) }} now  £{{ "%.2f" | format(item.salePrice) }}</p>
                            {% else %}
                                <p>price: £{{ "%.2f" | format(item.price) }} </p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h1>No results found</h1>
        {% endif %}
    </div>
</div>
{% endblock%}

